{% extends 'operator/adminbase.html' %}
{% block content %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/pages/form-element-select.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/datatables-5.css' %}">
{% endblock styles %}

<div class="page-heading">
    <h3>
        {% block title %}
        Manajemen Produk
        {% endblock title %}
    </h3>
</div>

<div class="page-content">
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
                    <h4 class="card-title mb-0">Edit Produk "{{produk.nama_produk}}"</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="pilihanganda" role="tabpanel"
                                aria-labelledby="pilihanganda-tab">
                                <form class="form" method="POST" action="" autocomplete="off" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="nama_produk" class="mb-2">Judul</label>
                                                <input type="text" class="form-control" required name="nama_produk" value="{{produk.nama_produk}}">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="kategori" class="mb-2">Kategori</label>
                                                <select name="kategori" id="" required class="form-control">
                                                    <option value="">---Pilih Kategori---</option>
                                                    {% for kategori in kategoris %}
                                                    <option value="{{kategori.id}}" {% if kategori.id == produk.kategori_produk_id %} selected {% endif %}>{{kategori.nama_kategori}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group mb-4">
                                                <label for="isi" class="mb-2">Deskripsi</label>
                                                <textarea name="deskripsi" id="editor1" required rows="10"
                                                    cols="100">{{produk.deskripsi|striptags}}</textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="harga" class="mb-2">Harga Produk</label>
                                                <input type="text" class="form-control" required name="harga" value="{{produk.harga}}">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="gambar" class="mb-2">Gambar</label>
                                                <input type="file" class="form-control" accept="image/*" onchange="loadFile(event)" name="gambar">
                                                <img id="output"/ width="20%">
                                                <p>Gambar Sebelumnya : <img src="{{media_url}}{{produk.gambar}}" width="20%"></p>
                                            </div>

                                            <div class="form-group">
                                                <label for="url" class="mb-2">Url Produk</label>
                                                <input type="text" class="form-control" required name="url" value="{{produk.url}}">
                                            </div>


                                            <div class="col-12 d-flex justify-content-end mt-4">
                                                <a href="{% url 'produk' %}" class="btn btn-secondary me-1 mb-1"><i class="fa fa-sign-out-alt" style="transform: rotate(180deg);"></i>&ensp;Kembali</a>
                                                <button type="submit" class="btn btn-warning me-1 mb-1"><i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block"><i class="fas fa-edit"></i>&nbsp;Edit</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



{% block scripts %}
<script src="{% static 'assets/js/extensions/jquery.js' %}"></script>
<script src="{% static 'assets/js/extensions/form-element-select.js' %}"></script>
<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<script src="{% static 'assets/js/extensions/datatables.js' %}"></script>
<script src="{% static 'assets/js/extensions/datatables-5.js' %}"></script>
<script type="text/javascript">
var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
<script>
    CKEDITOR.replace('editor1');
</script>
{% endblock scripts %}


{% endblock content %}