{% extends 'main.html' %} 

{% load static %}    
{% block content %} 
  
   <!-- ##### Breadcumb Area Start ##### -->
   {% if from_api == 1 %}
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{resep.thumb}});">
        {% else %}
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{media_url}}{{resep.thumb}});">
        {% endif %}
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>{{resep.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            {% if from_api == 1 %}
                            <img src="{{resep.thumb}}">
                            {% else %}
                            <img src="{{media_url}}{{resep.thumb}}">
                            {% endif %}
                            <span>{{resep.author.datePublished}}</span>
                            <h2>{{resep.title}}</h2>
                            <div class="receipe-duration">
                                <h6>Tingkat: {{resep.difficulty}}</h6>
                                <h6>Durasi: {{resep.times}}</h6>
                                <h6>Porsi: {{resep.servings}}</h6>
                            </div>
                        </div>
                    </div>

                    {% if request.user.is_authenticated %}
                    {% if bookmark == False %}
                    <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="key_bookmarks" value="{{key}}">
                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <button class="btn delicious-btn" type="submit"><i class="fa fa-heart-o"></i> &nbsp;Tambah Favorit</button>
                        </div>
                    </div>
                    </form>
                    {% else %}
                    <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="key_unbookmarks" value="{{key}}">
                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <button class="btn delicious-btn btn-3" type="submit"><i class="fa fa-window-close"></i> &nbsp;Hapus Dari Favorit</button>
                        </div>
                    </div>
                    </form>
                    {% endif %}
                    {% else %}
                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <a class="btn delicious-btn text-white" href="{% url 'login' %}" type="submit"><i class="fa fa-heart-o"></i> &nbsp;Tambah Favorit</a>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        {% if from_api == 1 %}
                        {% for cara in resep.step %}
                        <div class="single-preparation-step d-flex">
                            <h4>{{forloop.counter}}.</h4>
                            <p>{{cara}} </p>
                        </div>
                        {% endfor %}
                  {% else %}
                  {% for langkah in step %}
                  <div class="single-preparation-step d-flex">
                            <h4>{{forloop.counter}}.</h4>
                            <p>{{langkah}} </p>
                        </div>
                  {% endfor %}
                  {% endif %}
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Bahan - Bahan</h4>

                            <!-- Custom Checkbox -->
                            {% for bahan in resep.ingredient %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck{{forloop.counter}}">
                                <label class="custom-control-label" for="customCheck{{forloop.counter}}">{{bahan}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

{% endblock %}