{% extends 'main.html' %} 

{% load static %}    
{% block content %} 

 <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/frontend/img/bg-img/breadcumb4.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Resep Favorit</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

<!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="section-heading">
                        <h3>Daftar Resep Favorit Kamu</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for resep in resep_favorit %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="{% url 'detail-resep' resep.resep.key %}">
                        {% if resep.resep.is_from_api %}
                        {% if resep.resep.thumb %}
                        <img src="{{resep.resep.thumb}}" alt="" style="height: 200px; width: 400px; object-fit: cover;">
                        {% else %}
                        <img src="{% static 'images/default-resep.png' %}" alt="" style="height: 200px; width: 400px; object-fit: cover;">
                        {% endif %}
                        {% else %}
                        <img src="{{media_url}}{{resep.resep.thumb}}" alt="" style="height: 200px; width: 400px; object-fit: cover;">
                        {% endif %}
                        <div class="receipe-content">
                            <a href="{% url 'detail-resep' resep.resep.key %}">
                                <h5>{{resep.resep.title}}</h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{resep.resep.times}}
                                <i class="fa fa-cutlery" aria-hidden="true"></i> {{resep.resep.serving}}
                                <i class="fa fa-bar-chart" aria-hidden="true"></i> {{resep.resep.difficulty}}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

{% endblock content %}