{% extends 'main.html' %} 

{% load static %}    
{% block content %} 
  
 {% if not q %} 
     <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            {% for slider in sliders %}
            <div class="single-hero-slide bg-img" style="background-image: url({{media_url}}{{slider.gambar}});">
            </div>
            {% endfor %}

        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <section class="top-catagory-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Top Catagory Area -->
                {% for kategori in api_kategori_resep %}
                <div class="col-12 col-lg-4">
                    <div class="single-top-catagory">
                        <img src="/static/images/category/{{kategori.key}}.jpg" alt="" style="height: 200px; object-fit: cover;">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>{{kategori.category}}</h3>
                            <a href="{% url 'detail-kategori' kategori.key %}" class="btn delicious-btn">Lihat Detail</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Resep Terbaru</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for resep in api_resep %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="{% url 'detail-resep' resep.key %}">
                        <img src="{{resep.thumb}}" alt="">
                        <div class="receipe-content">
                            <a href="{% url 'detail-resep' resep.key %}">
                                <h5>{{resep.title}}</h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{resep.times}}
                                <i class="fa fa-cutlery" aria-hidden="true"></i> {{resep.serving}}
                                <i class="fa fa-bar-chart" aria-hidden="true"></i> {{resep.difficulty}}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <section class="cta-area bg-img bg-overlay" style="background-image: url(/static/frontend/img/bg-img/bg4.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content text-center">
                        <h2>SIRAM</h2>
                        <p>Sistem Informasi Resep Aneka Masakan</p>
                        <a href="{% url 'resep-all' %}" class="btn delicious-btn">Lihat Resep Lengkap</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### CTA Area End ##### -->

     <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Artikel Terbaru</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for artikel in artikels %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="{% url 'detail-artikel' artikel.slug %}">
                        <img src="{{media_url}}{{artikel.thumbnail}}" alt="" style="height: 200px; width: 400px; object-fit: cover;">
                        <div class="receipe-content">
                            <a href="{% url 'detail-artikel' artikel.id %}">
                                <h5>{{artikel.judul}}</h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-user" aria-hidden="true"></i> {{artikel.author}}
                                <i class="fa fa-calendar" aria-hidden="true"></i> {{artikel.published|date:"d-m-Y"}}
                                <i class="fa fa-book" aria-hidden="true"></i> {{artikel.kategori_artikel}}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->
{% else %}

 <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Hasil Pencarian Resep {{q}} - by SIRAM</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for resep in cari_resep_siram %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="{% url 'detail-resep' resep.key %}">
                        <img src="{{resep.thumb}}" alt="">
                        <div class="receipe-content">
                            <a href="{% url 'detail-resep' resep.key %}">
                                <h5>{{resep.title}}</h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{resep.times}}
                                <i class="fa fa-cutlery" aria-hidden="true"></i> {{resep.serving}}
                                <i class="fa fa-bar-chart" aria-hidden="true"></i> {{resep.difficulty}}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Hasil Pencarian Resep {{q}} - by MasakApaHariIni</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for resep in resep_cari_api %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <a href="{% url 'detail-resep' resep.key %}">
                        <img src="{{resep.thumb}}" alt="">
                        <div class="receipe-content">
                            <a href="{% url 'detail-resep' resep.key %}">
                                <h5>{{resep.title}}</h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {{resep.times}}
                                <i class="fa fa-cutlery" aria-hidden="true"></i> {{resep.serving}}
                                <i class="fa fa-bar-chart" aria-hidden="true"></i> {{resep.difficulty}}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

{% endif %}
{% endblock %}