{% extends 'operator/adminbase.html' %}
{% load static %}

{% block styles %} 
<ink rel="stylesheet" href="{% static 'assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/datatables.css' %}">
{% endblock %}
{% block title %} Manajemen Kategori Produk {% endblock title %}
{% block content %}
<div class="page-heading">
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Manajemen Kategori Produk</h3>
        </div>
    </div>
</div>
<!-- {% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong> {{message}} </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %} -->
<section class="section">
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tambah-kategori-produk"><i class="fas fa-plus"></i>&nbsp;Tambah
            </button>
            {% include "operator/kategori_produk/tambah.html" %}
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Kategori</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for kategori in kategoris %}
                    <tr>
                        <td>{{forloop.counter}}.</td>
                        <td>{{kategori.nama_kategori}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#edit-kategori-produk-{{kategori.id}}"><i class="fas fa-edit"></i>&nbsp;Edit</button>
                            {% include "operator/kategori_produk/edit.html" %}
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#hapus-kategori-produk-{{kategori.id}}"><i class="fas fa-trash"></i>&nbsp;Hapus</button>
                            {% include "operator/kategori_produk/hapus.html" %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
</div>
{% block scripts %}

<script src="{% static 'assets/extensions/jquery/jquery.min.js' %}"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="{% static 'assets/js/pages/datatables.js' %}"></script>

{% endblock scripts %}
{% endblock %}