{% load static %}
<!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html">
                            SIRAM 
                            <!-- <img src="{% static 'frontend/img/core-img/logo.png' %}" alt=""> -->
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    {% url 'home' as url %}
                                    <li class="{% if request.path == url %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                                  
                                    <li class="{% if '/resep-masakan' in request.path %} active {% endif %}"><a href="{% url 'resep-all' %}">Semua Resep</a></li>
                                    <li class="{% if '/resep-pilihan' in request.path %} active {% endif %}"><a href="{% url 'resep-by-user' %}">Resep Pilihan SIRAM</a></li>
                                    <li class="{% if '/resep-favorit' in request.path %} active {% endif %}"><a href="{% url 'resep-favorit' %}">Resep Favorit</a></li>
                                    <li class="{% if '/artikel' in request.path %} active {% endif %}"><a href="{% url 'artikel-page' %}">Artikel</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'login' %}">Profil</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Newsletter Form -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->